/* Journey to the Center of the Earth Practicum */

/* Ahmad Abdelghaffar*/

header {
margin: 1rem;
padding: 1rem;
font-size: larger;
text-align: center;
}

nav {

}

main {

}

aside {

}

footer, header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    border-color: #886644;
    margin: 2rem;
    padding: 2rem;
    
}